*.iml
.log
*.log
*/logs/*
*.log.*
.class
*.class
.project
.settings
.classpath
.DS_Store
gradle/
*/gradle/
*/gradle/*
/.settings/
/.idea/
*/.idea/
*/.idea/*
/target/
*/target/
*/target/*
captcha/__pycache__/
*.h5
*.hdf5
*.dat
*.local
*.png
*.jpg
logs
*/logs/
*.tgz
*.gz
draw-human-faces/datasets/data_face/
